<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
        <title>Tus cervezas</title>
    </head>
    <body>
        <div>
            <img src= cervezaDP.getimagenC(); >              
            <p>Recomendaciones</p>
            <p>{{cervezaDP.getNombreC();}}</p>
            <p>{{cervezaDP.empresaFabricadoraC();}}</p>
            <p>{{cervezaDP.ingredientesC();}}</p>
             <p>{{cervezaDP.paisC();}}</p>
        </div>        
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/cervezaDP.js"></script>
    </body>
</html>